<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8"> 
    <title>ch12_14</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <script src="/angular-1.5.5/angular.js"></script>
    <script src="/angular-1.5.5/angular-animate.js"></script>
    <script src="/angular-extends/ng-fx.js"></script>
    <style>
        .box{
            width: 100px;
            height: 100px;
            background-color: #f60;
        }
    </style>
</head>
<body ng-controller="MainController">
    <div class="box fx-zoom-up fx-speed-1000" ng-if="isShow"></div><br/>
    <div>
        <button class="btn" ng-click="isShow=true">显示</button>&nbsp;
        <button class="btn" ng-click="isShow=false">隐藏</button>
    </div>
<script>
    var myApp = angular.module('myApp',['ngAnimate','ng-fx']);
    myApp.controller("MainController",function($scope){
        $scope.isShow = false;
    });
</script>
</body>
</html>