<!doctype html>
<html ng-app="Minesweeper">
<head>
    <meta charset="UTF-8"> 
    <title>Minesweeper</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="js/modules.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css"
     href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>  
   <div ng-controller="MinesweeperController">
        <table class="minefield" border="1">
            <tr ng-repeat="row in minefield.rows">
            <td ng-repeat="spot in row.spots" ng-click="uncoverSpot(spot)" 
               ng-right-click="setFlag(spot)">
                <mine-grid></mine-grid>
            </td>
            </tr>
        </table><br/>
        <button class="btn btn-primary" ng-click="restart();">重新开始</button><br/><br/>
        <p class="text-success" ng-show="isWinMessageVisible">
            恭喜你，游戏胜利！
        </p>
        <p class="text-danger" ng-show="isLostMessageVisible">
            很遗憾，游戏失败！
        </p>
   </div>
</body>
</html>