<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8"> 
    <title>ch15_03</title>
    <script src="/angular-1.5.5/angular.js"></script>
    <script src="/angular-extends/ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-extends/ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
</head>
<body>
<div class="container" ng-controller="DatepickerDemoController">
    <h4>日历</h4>
    <div style="display:inline-block; min-height:290px;">
      <div uib-datepicker ng-model="dt" class="well well-sm" 
          datepicker-options="options"></div>
    </div>
    <div>
    <button type="button" class="btn btn-sm btn-info" ng-click="today()">今天</button>
    </div>
</div>
<script>
    var myApp = angular.module("myApp", ['ui.bootstrap']);
    myApp.controller("DatepickerDemoController",function($scope){
        $scope.options = {
            minDate: new Date(),
            showWeeks: true
        };
        $scope.today = function() {
            $scope.dt = new Date();
        };
        $scope.today();
    });
</script>
</body>
</html>