/* 基础样式 */
html { overflow-y:hidden; }
.page { 
	bottom:0; 
	padding-top:100px;
	position:absolute; 
	text-align:center;
	top:0;  
	width:100%; 
}
/* 页面 */
.page-home 		{ background:#00D0BC; color:#00907c; }
.page-about 	{ background:#E59400; color:#a55400; }
.page-contact 	{ background:#ffa6bb; color:#9e0000; }
/* 动画 */
.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

/* 首页 -------------------------- */
.page-home.ng-leave         {
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
}
.page-home.ng-enter 		{  
	animation:scaleUp 0.5s both ease-in;    
}

/* 关于页面 ------------------------ */
.page-about.ng-leave        {
	animation:slideOutLeft 0.5s both ease-in;   
}
.page-about.ng-enter 		{  
	animation:slideInRight 0.5s both ease-in;    
}

/* 联系页面 ---------------------- */
.page-contact.ng-leave      {
	transform-origin: 50% 50%;
	animation: rotateOutNewspaper .5s both ease-in;
}
.page-contact.ng-enter 		{ 
	animation:slideInUp 0.5s both ease-in;  
}

@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

/* 缩放*/
@keyframes scaleUp {
	from  { opacity: 0.3; transform: scale(0.8); }
}

/* 左滑动 */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
/* 上滑 */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}

/* 下滑 */
@keyframes slideOutLeft {
	to { transform: translateX(-100%); }
}

/* 旋转 */
@keyframes rotateOutNewspaper {
	to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
